
  /**
   * 此文件由apps/frontend/scripts/generate_css_variables_from_antd_theme_token.js脚本生成
   * 请勿直接修改此文件
   * */
    :root {
      --color-primary: #0d53de;
--color-primary-hover: #3477EB;
--color-primary-active: #0238B8;
--color-primary-bg: #E6F2FF;
--color-success: #00b365;
--color-success-hover: #1FBF74;
--color-success-active: #008C54;
--color-success-bg: #DAF2E4;
--color-warning: #ff8800;
--color-warning-active: #D96C00;
--color-warning-bg: #FFF7E6;
--color-error: #f5483b;
--color-error-active: #CF2D27;
--color-text-base: #121316;
--color-text: rgba(18, 19, 22, 0.8);
--color-text-secondary: rgba(18, 19, 22, 0.5);
--color-text-tertiary: rgba(18, 19, 22, 0.25);
--color-text-quaternary: rgba(18, 19, 22, 0.20);
--color-border: #D7D8DD;
--color-border-secondary: #EBECF0;
--color-info: #0d53de;
--border-radius: 2;
--border-radius-l-g: 4;
--box-shadow:       0 8px 26px 0 rgba(18, 19, 22, 0.12),      0 3px 6px -4px rgba(0, 0, 0, 0.12),      0 9px 28px 8px rgba(0, 0, 0, 0.05)    ;
--box-shadow-secondary:       0 4px 12px 0 rgba(0, 0, 0, 0.08),      0 3px 6px -4px rgba(0, 0, 0, 0.12),      0 9px 28px 8px rgba(0, 0, 0, 0.05)    ;
--wireframe: false;
    }
