html,
body,
#root,
#root > * {
  height: 100%;
}

body {
  font-size: 14px;
  color: #333 !important;
}

a {
  text-decoration: underline;
  cursor: pointer;
}

.sensebee-input-wrap .deleteIcon {
  color: #ccc;
}
