.stepWrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.stepItem {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
}

.stepItemInner {
  cursor: pointer;
  display: flex;
}

.icon {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  font-weight: 400;
  background: #f2f3f5;
  font-size: 14px;

  .active & {
    background: var(--color-primary) !important;
    color: #fff !important;
  }

  .finished & {
    background-color: rgb(27 103 255 / 10%);
    color: var(--color-primary);
  }
}

.iconHighlight {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background-color: var(--color-primary);
}

.iconCheck {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 14px;
  color: var(--color-primary);
  background-color: rgb(27 103 255 / 10%);
}

.iconCheckHighlight {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  font-weight: 400;
  font-size: 14px;
  color: #fff;
  background-color: var(--color-primary);
}

.iconActive {
  width: 24px;
  height: 24px;
  margin-right: 8px;
  border-radius: 50%;
  background: var(--color-primary);
  font-weight: 400;
  font-size: 14px;
  color: #fff;
}

.title {
  font-weight: 400;
  font-size: 14px;
  color: rgb(0 0 0 / 72%);

  .stepItemInner:hover & {
    color: var(--color-primary);
  }

  .active & {
    color: var(--color-primary);
    font-weight: bold;
  }
}

.titleHighlight {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  /* identical to box height */

  /* 中性色/87% */

  color: rgb(0 0 0 / 87%);
}

.titleActive {
  font-weight: 500;
  font-size: 14px;
  color: rgb(0 0 0 / 72%);
}
