.upload {
  position: relative;
  overflow: hidden;
  display: inline;
  cursor: pointer;
  > input {
    opacity: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 10;
    top: 0;
    left: 0;
    cursor: pointer;
  }
}
