.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.nullWrapper {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 220px;
  background: #fbfcff;
  //background
  border: 1px dashed #d0dfff;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  width: 88px;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.createTaskIcon {
  //background-image: url('../../assets/png/createTask.png');
  background-repeat: no-repeat;
  width: 56px;
  height: 56px;
  cursor: pointer;
}

.createTask {
  width: 88px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: white;
  font-size: 14px;
  font-weight: 400;
  background-color: var(--color-primary);
  border-radius: 3px;
  cursor: pointer;
}
