@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}

pre > div {
  background: none !important;
  color: inherit !important;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
