@import '../../utils/common/common.module';
.tasksWrapper {
  padding: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.createTaskButton {
  width: 88px;
  border-radius: 4px;
}

.cards {
  margin-top: 16px;
  width: 100%;
  //width : 1394px;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  @extend .flexDirectionRowWrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.stationSymbol {
  flex: 0 1 auto;
  width: 1px;
}

.pagination {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
