@import '../../utils/common/common.module';
.outerFrame {
  @extend .displayFlex;
  @extend .flexDirectionColumn;
  justify-content: flex-start;
  align-items: center;
  height: calc(100vh - 56px);
  height: calc(100vh + 56px);
  width: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: #f4f5f7;
}
.createTaskButtonRow {
  width: 100%;
  margin-top: 24px;
}

.createTaskButton {
  width: 88px;
  height: 32px;
  background-color: #1b67ff;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  color: white;
  line-height: 32px;
}

.cards {
  margin-top: 16px;
  width: 100%;
  //width : 1394px;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  @extend .flexDirectionRowWrap;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  background-color: #f4f5f7;
}

.stationSymbol {
  flex: 0 1 auto;
  width: 1px;
}

.pagination {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  //width : 1393px;
  margin-bottom: 32px;
  background-color: #f4f5f7;
  :global {
    .ant-pagination {
      background-color: #f4f5f7;
      //margin-top : 24px;
      margin-bottom: 32px;
    }
  }
  margin-right: 40px;
}
