.ant-list-item {
  padding: 12px 12px !important;
}

.ant-table-cell .ant-btn.ant-btn-link {
  padding: 0 4px !important;
}

.ant-btn + .ant-btn {
  margin-left: 10px;
}

.ant-tabs-tab + .ant-tabs-tab {
  margin: 0 0 0 3px;
}

.ant-dropdown-menu {
  padding: 12px 0px 0px;
  overflow: hidden;
}
.ant-dropdown-menu-item {
  margin-bottom: 12px;
}

.ant-collapse-header {
  height: 32px;
  align-items: center !important;
}
.ant-btn-primary {
  box-shadow: none !important;
  text-shadow: none;
}
