# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

.vscode/launch.json

# dependencies
node_modules
.DS_Store

# lock file
# package-lock.json
yarn.lock
pnpm-lock.yaml
gptcommit.toml
.husky/prepare-commit-msg

.idea

# lock file
# package-lock.json
yarn.lock
pnpm-lock.yaml

# testing
/coverage

# production
build
dist
es

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.script.test.js

npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

/packages/server/public
