.outerFrame {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  //height : 56px;
  width: 100%;
  //line-height: 56px;
}

.stepsRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  background: #fff;
}

.left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin-right: 40px;
  margin-right: 24px;
}

.nextButton {
  width: 74px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: white;
}

.content {
  width: 100%;
  // height : calc(100vh - 136px);
  height: calc(100vh - 136px);
  border-top: 1px solid var(--color-border-secondary);
  background-color: white;

  :global(.labelu-video-editor) {
    height: calc(100vh - 113px);
  }
}
