.tasksWrapper {
  padding: 1.5rem;
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: column;
  overflow: auto;
  box-sizing: border-box;

  .alert {
    margin-bottom: 1rem;
  }
}

.createTaskButton {
  width: 88px;
}

.cards {
  --margin-horizontal: 0.75rem;

  margin: 0.625rem calc(0rem - var(--margin-horizontal));
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.stationSymbol {
  flex: 0 1 auto;
  width: 1px;
}

.pagination {
  margin-top: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
