.outerFrameActive {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.outerFrame {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  cursor: pointer;
}

.audioCard {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 3px;
}

.id {
  border-radius: 2px;
  padding: 0 0.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 10px;
  background: #fff;
  overflow: hidden;

  &.active {
    outline: 3px solid var(--color-primary);

    & + .id {
      color: white;
      background-color: var(--color-primary);
    }
  }

  & > img {
    width: 200px;
    height: 120px;
    object-fit: cover;
  }
}

.tagBottom {
  position: absolute;
  top: -16px;
  right: -16px;
  z-index: 100;
  width: 32px;
  height: 32px;
  transform: rotate(-45deg);
  background-color: var(--color-primary);
}

.tagTop {
  position: absolute;
  top: -5px;
  right: -5px;
  z-index: 1000;
  width: 16px;
  height: 16px;
}

.skipped {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  background: #f80;
  border-radius: 0 4px;
  width: 36px;
  height: 25px;
  color: white;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 25px;
}
