@import '@/utils/common/common.module';
.outerFrame {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-start;
  align-items: center;
  height: 56px;
  width: 100%;
  line-height: 56px;
}

.txt {
  color: rgba(0, 0, 0, 0.87);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-left: 10px;
  margin-right: 0.625rem;
}

.icon {
  margin-left: 30px;
}
