@import '@/utils/common/common.module';

.outerFrame {
  @extend .displayFlex;
  @extend .flexDirectionColumn;
}

.pattern {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  margin-bottom: 15px;
}

.buttons {
  @extend .displayFlex;
  @extend .flexDirectionRow;
}

.title {
  font-weight: 400;
  font-size: 16px;
  height: 32px;
  line-height: 32px;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  margin-right: 10px;
  text-align: center;
}

.button {
  width: 89px;
  height: 32px;
  margin-right: 5px;
  color: var(--primary-color);
  background: #ffffff;
  /* 弹窗投影 */

  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}
.buttonActive {
  width: 89px;
  height: 32px;
  margin-right: 5px;
  color: #ffffff;
  background: var(--primary-color);
  /* 弹窗投影 */

  box-shadow: 0px 2px 16px 2px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  text-align: center;
  line-height: 32px;
  cursor: pointer;
}

.bottom {
  color: rgba(0, 0, 0, 0.72);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
