@import '@/utils/common/common.module';

.outerFrame {
  @extend .displayFlex;
  @extend .flexDirectionColumn;
  justify-content: flex-start;
  align-items: center;
  //height : 56px;
  width: 100%;
  //line-height: 56px;
}

.stepsRow {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  background: #ffffff;
  box-shadow: inset 0px 1px 0px rgba(0, 0, 0, 0.05);
}

.left {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.right {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin-right: 40px;
}

.nextButton {
  width: 74px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  color: white;
}

.content {
  width: calc(100% - 48px);
  height: calc(100vh - 136px);
  //margin: 24px 24px 0;
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 24px;
  //background-color: white;
  background: #fbfcff;
  background: #f4f5f7;
  :global {
    .ant-table-thead .ant-table-cell {
      background-color: white;
      text-align: center;
      font-weight: 400;
      font-size: 14px;
      line-height: 22px;
      color: rgba(0, 0, 0, 0.87);
    }
  }
}

:global {
  .ant-table-cell {
    text-align: center;
    //display: flex;
    //flex-direction: row;
    //justify-content: center;
  }
}
.dataProcess {
  @extend .displayFlex;
  @extend .flexDirectionRow;
}
.dataProcessDelete {
  color: #f5483b;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 56px;
  height: 22px;
  cursor: pointer;
  margin-right: 32px;
}
.dataProcessOutput {
  color: var(--primary-color);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: 84px;
  height: 22px;
  cursor: pointer;
}
.pagination {
  width: 100%;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: space-between;
  margin-top: 24px;
  padding-bottom: 48px;
  //margin-bottom:32px;
}

.tableColumn {
  color: red;
}

.optionItem {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-end;
}
.optionItemEnter {
  align-items: center;

  /* 蓝色/蓝色-默认 */

  color: var(--primary-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  margin-right: 32px;
}

.optionItemDelete {
  align-items: center;

  /* 蓝色/蓝色-默认 */

  color: #f5483b;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  cursor: pointer;
  margin-right: 32px;
}

.leftTitleContentOption {
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: rgba(0, 0, 0, 0.87);
  align-items: center;
  width: 94px;
  height: 24px;
  margin-right: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  justify-content: flex-start;
}

.dateColumn {
  width: 140px;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  align-items: center;
  justify-content: space-between;
}
