.leftBar {
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 10;
  height: var(--height);
}

.tips {
  width: 100%;
  height: 30px;
  text-align: center;
  margin-top: 10px;
  //background-color: white;
  //color : var(--color-primary);
}
