@import '../../utils/common/common.module';
.outerFrame {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  width: 100%;
  line-height: 56px;
  overflow-y: visible;
}

.left {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-start;
  align-items: center;
  margin-left: 30px;
}

.logo {
  background-image: url('../../assets/svg/LOGO.svg');
  background-size: 120px 32px;
  background-repeat: no-repeat;
  width: 120px;
  height: 32px;
}
.shortCutButton {
  background-image: url('../../assets/png/threeLines.png');
  background-size: 24px 24px;
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  margin-left: 18px;
}
.breadcrumb {
  margin-left: 39px;
}
.right {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-end;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  margin-right: 40px;
  overflow-y: visible;
  z-index: 10000;
}
.signOut {
  //height: 100px;
  //margin-top: 14px;
  cursor: pointer;
}
.signOutItem {
  position: absolute;
  top: 0;
  right: 0;
  border: 1px solid #cccccc;
  background-color: #cccccc;
  cursor: pointer;
  color: #ffffff;
  text-align: center;
  //height : 20px;
  z-index: 100000;
}
.username {
  //width: 110px;
  //height: 49px;
  background-color: white;
  cursor: pointer;
  text-align: center;
}
.quit {
  position: absolute;
  z-index: 100000;
  width: 110px;
  height: 49px;
  background-color: white;
  cursor: pointer;
  text-align: center;
  right: 40px;
  box-shadow: 0px 4px 20px rgba(18, 30, 73, 0.06);
}
