.displayFlex {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -ms-flex;
}
.flexDirectionColumn {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
.flexDirectionRow {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.flexDirectionRowWrap {
  flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
}

.loginAndSignUpNotice {
  width: inherit;
  height: 10px;
  color: red;
}

.commonButton {
  background-color: var(--primary-color);

  cursor: pointer;
}

.cancelButton {
  background-color: #f2f3f5;

  cursor: pointer;
}
