.displayFlex {
  display: flex;
  display: -moz-flex;
  display: flex;
  display: -ms-flex;
}

.flexDirectionColumn {
  flex-direction: column;
  flex-direction: column;
  flex-direction: column;
}

.flexDirectionRow {
  flex-direction: row;
  flex-direction: row;
  flex-direction: row;
}

.flexDirectionRowWrap {
  flex-wrap: wrap;
  flex-wrap: wrap;
  flex-wrap: wrap;
}

.loginAndSignUpNotice {
  width: inherit;
  height: 10px;
  color: red;
}

.commonButton {
  background-color: var(--color-primary);
  cursor: pointer;
}

.cancelButton {
  background-color: #f2f3f5;
  cursor: pointer;
}
