.ant-tabs-top > .ant-tabs-nav::before {
  border: 0;
}

.ace_gutter-cell.ace_error {
  background: transparent;
}

.ace-xcode {
  background: #fbfbfb;

  .ace_gutter {
    background: #fbfbfb;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    color: rgb(0 0 0 / 36%);
    border-right: 3px solid rgb(0 0 0 / 3%);
  }

  .ace_comment {
    color: rgb(0 0 0 / 36%);
  }
}

.container {
  width: 100%;
  height: 100%;

  .headerBox {
    height: 56px;
    align-items: center;
    justify-content: space-between;
    display: flex;

    .stepBox {
      display: flex;
      height: 56px;
      width: 463px;
      align-items: center;
      margin-left: 25px;
    }

    .submitBox {
      justify-content: flex-end;
      height: 56px;
      width: 300px;
      align-items: center;
      display: flex;
      margin-right: 24px;
    }
  }

  .configBox {
    position: relative;
    height: 100%;
    padding: 0 24px 24px;
    background-color: #f4f5f7;
    // padding-left:0px;
    // display: flex;
    // justify-content: flex-start;
    .leftSider {
      overflow: auto;
      width: 596px;
      height: 100%;
      background-color: #fff;
      padding: 24px 24px 0;
      border-radius: 4px;
      // background-color: #333;
      position: relative;

      .leftPane {
        width: 100%;
        // background-color: #ddd;
        position: relative;
        // overflow-x: hidden;
        // overflow-y: scroll;
        // overflow: hidden;
      }

      .ant-tabs-nav {
        margin: 0 0 24px;
        height: 32px;

        .ant-tabs-nav-list {
          display: flex;
          line-height: 32px;
          padding: 6px 11px;
          height: 32px;
          background: #f5f5f5;
          align-items: center;

          .ant-tabs-tab {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            background: #f5f5f5;
            margin-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding: 5.5px 16px;
            gap: 10px;
            height: 24px;
            border: 0;
          }

          .ant-tabs-tab-active {
            background: #fff;
          }
        }

        .leftTabContent {
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: rgb(0 0 0 / 87%);
          margin-right: 24px;
        }

        .rightTabContent {
          box-sizing: border-box;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          padding: 5.5px 16px;
          gap: 10px;
          width: 88px;
          height: 32px;
          background: #fff;
          border: 1px solid var(--primary-color);
          color: var(--primary-color);
        }
      }

      .leftSiderTitle {
        /* identical to box height, or 144% */

        /* 中性色/87% */

        //height: 62px;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 13px;
        //padding-left:16px;
        border-bottom: 1px solid rgb(0 0 0 / 5%);
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        color: rgb(0 0 0 / 87%);
        margin-bottom: 15px;
        display: -moz-flex;
        display: flex;
        display: -ms-flex;
        flex-direction: row;
      }
    }

    .title {
      background: rgb(121 242 157);
    }

    .rightSider {
      overflow: hidden;
      background-color: #fff;
      // background-color: #333;
      border-radius: 4px;
      width: calc(100% - 666px);
      height: calc(100% - 24px);
      top: 24px;
      top: 0;
      position: absolute;
      left: 644px;

      .rightHeader {
        height: 62px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 16px;
        border-bottom: 1px solid rgb(0 0 0 / 5%);

        .leftSpan {
          display: block;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          color: rgb(0 0 0 / 87%);
        }

        .rightSpan {
          text-decoration: none;
          display: block;
        }
      }

      .rightContent {
        height: calc(100vh - 216px);
      }

      .notMatchBox {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 119px;
        }
      }
    }

    .formConfig {
      width: 100%;
      height: 100%;
      // background-color: #ddd;
      .oneRow {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        gap: 16px;
        width: 350px;
        height: 32px;
        margin-bottom: 24px;

        label {
          height: 22px;
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 22px;
          width: 72px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          color: rgb(0 0 0 / 87%);
        }

        .ant-select {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          // padding: 5px 12px;
          gap: 12px;
          width: 278px;
          height: 32px;
          // border: 1px solid rgba(0, 0, 0, 0.1);
          border-radius: 2px;
        }

        button {
          box-sizing: border-box;
          display: flex;
          // flex-direction: column;
          align-items: flex-start;
          justify-content: center;
          // padding: 5px 10px;
          gap: 4px;
          width: 102px;
          height: 32px;
          border: 1px solid var(--primary-color);

          span {
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            color: var(--primary-color);
          }
        }

        .ant-switch {
          margin: 0;
          padding: 0;
          color: rgb(0 0 0 / 85%);
          font-size: 14px;
          font-variant: tabular-nums;
          list-style: none;
          font-feature-settings: 'tnum';
          position: relative;
          display: inline-block;
          box-sizing: border-box;
          // min-width: 44px;
          height: 22px;
          line-height: 22px;
          vertical-align: middle;
          background-color: rgb(0 0 0 / 25%);
          border: 0;
          border-radius: 100px;
          cursor: pointer;
          transition: all 0.2s;
          user-select: none;
          width: 44px;
        }

        .ant-switch-checked {
          background-color: var(--primary-color);
        }
      }

      .formTabBox {
        margin-top: 20px;
        position: relative;

        .ant-tabs-top > .ant-tabs-nav::before {
          position: absolute;
          right: 0;
          left: 0;
          border-bottom: 1px solid rgb(0 0 0 / 6%);
          content: '';
        }

        .ant-tabs-top > .ant-tabs-nav .ant-tabs-nav-wrap::before {
          width: 0;
        }

        .ant-tabs-nav {
          margin: 0;
          height: 32px;

          .ant-tabs-nav-list {
            position: relative !important;
            display: flex !important;
            transition: transform 0.3s !important;
            justify-content: flex-start;
            background-color: transparent;
            padding: 6px 11px 6px 0;

            .ant-tabs-tab {
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              // background: #f5f5f5;
              // margin-left: 12px;
              margin-right: 12px;
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
              padding: 5.5px 16px;
              // background: #fafafa;
              border: 1px solid #e6e6e6;
              border-radius: 4px 4px 0 0;
              gap: 10px;
              height: 32px;
            }

            .ant-tabs-tab-active {
              background: #fff;
              border-bottom: 0;
            }
          }
        }

        .toolConfigPane {
          // border: 1px solid #ddd;
          background: #fff;
          // border: 1px solid #e6e6e6;
          border-radius: 0 4px 4px;
          // border-top: 0px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
