@import '@/utils/common/common.module';

.cardWrapper {
  padding: var(--margin-horizontal);
}

.cardInner {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  flex-direction: column;
  padding: 1.25rem 1.5rem;
  border-radius: 8px;
  height: 10rem;
  border: 1px solid #fff;

  &:hover {
    border: 1px solid var(--primary-color);
  }
}

.actionIcon {
  font-size: 1rem;

  &:hover {
    color: var(--primary-color);
  }
}

.item {
  width: 100%;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.72);
}
.itemLeft {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-start;
  align-items: center;
}
.itemTaskName {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: rgba(0, 0, 0, 0.87);
  margin-right: 12px;
  //max-width : calc(100% - 52px - 2rem);
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 40px;
}

.mediaType {
  width: 40px;
  height: 22px;
  line-height: 22px;
  background: rgba(27, 103, 255, 0.1);
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  align-items: center;
  justify-content: center;
}

.draft {
  width: 40px;
  height: 22px;
  background: rgba(255, 136, 0, 0.2);
  //border: 1px solid #FF8800;
  border-radius: 2px;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  align-items: center;
  justify-content: center;
}
.item41 {
  width: 100%;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.item41Left {
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.72);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.item41Right {
  color: #00b365;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}
.item42 {
  width: 100%;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}
.item42Left {
  width: 242px;
  width: 100%;
}

.actions {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  display: none;
  color: #a3a3a3;

  .cardWrapper:hover & {
    display: flex;
  }
}
.upload {
  margin-right: 10px;
}

.upload:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.delete:hover {
  color: var(--primary-color);
  cursor: pointer;
}

.deleteWarnInfo {
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: flex-start;
  align-items: center;
}

.tipWarnIcon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ff8800;
  color: white;
  @extend .displayFlex;
  @extend .flexDirectionRow;
  justify-content: center;
  align-items: center;
}
