.cardWrapper {
  padding: var(--margin-horizontal);
  box-sizing: border-box;
}

.cardInner {
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  flex-direction: column;
  padding: 1.25rem 1.5rem;
  border-radius: 8px;
  border: 1px solid #fff;
  height: 10rem;
  box-sizing: border-box;

  &:hover {
    border: 1px solid var(--color-primary);
  }
}

.actionIcon {
  font-size: 1rem;

  &:hover {
    color: var(--color-primary);
  }
}

.item {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: 400;
  font-size: 14px;
  color: rgb(0 0 0 / 72%);
}

.itemLeft {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.itemTaskName {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: rgb(0 0 0 / 87%);
  margin-right: 12px;
  //max-width : calc(100% - 52px - 2rem);
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 40px;
}

.mediaType {
  width: 40px;
  height: 22px;
  line-height: 22px;
  background: rgb(27 103 255 / 10%);
  border-radius: 2px;
  font-weight: 400;
  font-size: 14px;
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.draft {
  width: 40px;
  height: 22px;
  background: rgb(255 136 0 / 20%);
  //border: 1px solid #FF8800;
  border-radius: 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.item41 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.item41Left {
  margin-right: 10px;
  color: rgb(0 0 0 / 72%);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.item41Right {
  color: #00b365;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

.item42 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10px;
}

.item42Left {
  width: 242px;
  width: 100%;
}

.actions {
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 60px;
  display: none;
  color: #a3a3a3;

  .cardWrapper:hover & {
    display: flex;
  }
}

.upload {
  margin-right: 10px;
}

.upload:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.delete:hover {
  color: var(--color-primary);
  cursor: pointer;
}

.deleteWarnInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.tipWarnIcon {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #f80;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
