.wrapper {
  display: flex;
  flex-direction: column;
  padding: 36px 0;
}

.innerWrapper {
  width: 740px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.25rem;
}

.title {
  font-size: 20px;
  font-weight: bold;
}
