.outerFrame {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 380px;
  height: 348px;
}

.title {
  height: 32px;
  line-height: 32px;
  font-weight: 400;
  font-size: 24px;
  text-align: center;
}

.email_m {
  width: inherit;

  :global {
    .ant-input-affix-wrapper {
      height: 48px;
      border-radius: 8px;
      border: 1px solid rgb(0 0 0 / 10%);
    }

    .ant-input-affix-wrapper > .ant-input:not(textarea) {
      padding-left: 20px;
    }
  }
}

.loginButton {
  height: 48px;
  width: inherit;
  border-radius: 8px;
  line-height: 48px;
  text-align: center;
  cursor: pointer;
  background: var(--color-primary);
  color: white;
  margin-top: 24px;
}

.signUpButton {
  //color:var(--color-primary);
  //height : 48px;
  width: inherit;
  text-align: right;
  //cursor:pointer;
}
